<h1>Create a new project!</h1>


<%= form_for (@project) do |f| %>

  <%= f.label :title %> <%= f.text_field :title%>

  <%= f.label :description %> <%= f.text_area :description%>

  <%= f.label :private %> <%= f.check_box :private%>

<div class="actions">
  <%=f.submit%>
</div>

<%end%>
